* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: rgb(228, 233, 167);
  }
  
  .nav-bar {
    background-color: aquamarine;
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
    
  }
  
  .nav-bar img {
    margin-right: 20px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    align-items: right;
  }
  
  nav ul li {
    display: flex;
    align-items: center;
  }
  
  nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
  }
  